
ProjetoBack/.vs/ProjetoBack/FileContentIndex/6a3e5686-f16c-448e-b084-3cfd2948c419.vsidx
ProjetoBack/.vs/ProjetoBack/v17/.suo
ProjetoBack/bin
ProjetoBack/obj
*.props
*.sqlite
*.config
*.vsidx
*.lock
*.dll
